/* Global Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    border-bottom: 2px solid #ddd;
}

footer {
    border-top: 2px solid #ddd;
}

/* Card Styles */
.card-img-top {
    height: 600px;
    object-fit: cover;
}

/* Trivia Styles */
#trivia-questions .card {
    margin-bottom: 20px;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}
