# 0a-degrees
large/
small/

# 0b-tic-tac-toe
OpenSans-Regular.ttf

# 1b-minesweeper
assets/

# 2a-pagerank
corpus0/
corpus1/
corpus2/

# 2b-heredity
data/

# 5-traffic
gtsrb/

Mihir Rao.webarchive
PLCoster's CS50AI Projects.webarchive